body {
	background-color: #b8b8b8;
}

.container-fluid {
	margin-top: 2em;
}

.botones_base input {
	outline: none;
	width: 100%;
	border: none;
	font-weight: bold;
	text-align: right;
	color: #f7f7f7;
	background-color: #444444;
}

.botones_base button {
	width: 100%;
	border: none;
	font-weight: bold;
}

.botones_base button:not(.operadores, .resultado) {
	background-color: #fff;
}

.botones_base button:not(.operadores, .resultado):hover {
	background-color: #e7e7e7;
}

.operadores {
	color: #fff;
	background-color: #4e4e4e;
}

.operadores:hover {
	background-color: #5e5e5e;
}

.resultado {
	background-color: #ff833b;
}

.resultado:hover {
	background-color: #ff9659;
}

.botones_base .col-3,
.botones_base .col-12 {
	padding: 0px;
}

.col-3 {
	margin-left: auto;
	margin-right: auto;
}

@media only screen and (max-width: 576px) {
	.botones_base input {
		height: 2em;
		font-size: 1.5em;
	}

	.botones_base button {
		height: 2em;
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 576px) and (max-width: 720px) {
	.botones_base input {
		height: 2em;
		font-size: 2em;
	}

	.botones_base button {
		height: 2em;
		font-size: 2em;
	}
}

@media only screen and (min-width: 720px) and (max-width: 960px) {
	.botones_base input {
		height: 2.2em;
		font-size: 2.2em;
	}

	.botones_base button {
		height: 2.2em;
		font-size: 2.2em;
	}
}

@media only screen and (min-width: 960px) and (max-width: 1400px) {
	.botones_base input {
		height: 2.5em;
		font-size: 2.5em;
	}

	.botones_base button {
		height: 2.5em;
		font-size: 2.5em;
	}
}

@media only screen and (min-width: 1400px) {
	.botones_base input {
		height: 2.5em;
		font-size: 3.5em;
	}

	.botones_base button {
		height: 2.5em;
		font-size: 3.5em;
	}
}
